@{
    ViewBag.Title = "All Projects";
}
<h2>@ViewBag.Title.</h2>
@(Html.Kendo()
    .Grid<TeamUp.Web.Models.Projects.GridProjectViewModel>()
    .Name("grid")
    .Columns(columns =>
        {
            columns.Bound(u => u.Name).ClientTemplate("<a href=\"/Projects/Details/#=Id#\">#=Name#</a>");
            columns.Bound(u => u.Description).ClientTemplate("#=shortenDescription(Description)#");
            columns.Bound(u => u.HasEnded).ClientTemplate("#=showHasEnded(HasEnded)#");
            columns.Bound(u => u.DateCreated);
        })
    .Filterable()
    .Sortable()
    .Pageable(pageable => pageable
        .Refresh(true)
        .PageSizes(true)
        .ButtonCount(5))
    .DataSource(data =>
        data
        .Ajax()
        .Model(s => s.Id("Id"))
        .Read(read => read.Action("Read", "Projects")))
)
@Scripts.Render("~/bundles/kendoProjectsGridTemplate")