@{
    ViewBag.Title = "Projects";
}

<h2>@ViewBag.Title.</h2>


<div>
    <h4>Manage your projects</h4>
    <hr />
    <a class="btn btn-lg btn-default" href="/Projects/CreateProject">Create new</a>
</div>
