@model TeamUp.Web.Models.ChangeCategoriesModel
@{
    ViewBag.Title = "Change Categories";
}

<h2>@ViewBag.Title.</h2>

@using (Html.BeginForm("ChangeCategories", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <h4>Change Account Categories</h4>
    <hr />
    @Html.Partial("~/Views/Shared/_ProgrammingCategoryCheckboxesPartial.cshtml", Model.ProgrammingCategories)
    <div class="form-group">
        <div class="col-md-offset-5 col-md-10">
            <input type="submit" value="Change" class="btn btn-default" />
        </div>
    </div>
}