@{
    ViewBag.Title = "Manage";
}

<h2>@ViewBag.Title</h2>


<div>
    <h4>Change your account settings</h4>
    <hr />
    <a class="btn btn-lg btn-default" href="/Manage/ChangePassword">Change your password</a>
    <a class="btn btn-lg btn-default" href="/Manage/ChangeCategories">Manage your categories</a>
    <a class="btn btn-lg btn-default" href="/Manage/ChangeSkills">Manage your skills</a>
    <a class="btn btn-lg btn-default" href="/Manage/ChangeTheme">Change theme</a>
    
</div>
