@model TeamUp.Web.Models.CaregoryItem
<div class="col-md-3 text-center">
    <label class="control-label" for=@Model.Value>@Model.Text</label>
    <input class="form-control" type="checkbox" value=@Model.Value name="AdditionalCategories" id=@Model.Value />
</div>
