@{
    ViewBag.Title = "Users";
    
    // Needed for the kendo Partial
    ViewBag.Method = "Read";
    ViewBag.Controller = "Users";
}

<h2>@ViewBag.Title.</h2>

@Html.Partial("_UsersGridPartial")
